# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/cypress/videos
/cypress/screenshots
/cypress/downloads

# next.js
/.next/
/out/
.next/
next-env.d.ts

# production
/build
/dist

# misc
.DS_Store
*.pem
Thumbs.db
.vscode/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.development
.env.test
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
tsconfig.tsbuildinfo

# turbo
.turbo

# Logs
logs
*.log

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# storybook
storybook-static